DirectoryIndex index.php
RewriteEngine on

RewriteRule (^|/)app/src(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumCLI(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumConfig(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumIntern(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumLorem(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumPHP(/|$) - [F]
RewriteRule (^|/)Partarum/PartarumSecura(/|$) - [F]
#RewriteRule (^|/)config/assets-manifest.json(/|$) - [F]

RewriteBase /

AddType text/javascript .js
AddType text/css .css
AddType image/webp .webp
AddType image/png .png
AddType image/jpeg .jpg
AddType application/vnd.ms-fontobject  eot
AddType font/truetype                  ttf
AddType font/opentype                  otf
AddType application/x-font-woff        woff
AddType application/x-font-woff        woff2

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} ^(final.)?partarum.download$
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule  ^(.*)?$ index.php [QSA]
