:root {
    --ratio1_1_large: calc(calc(100vw - calc(100vw / 1.1)) / 10);
    --ratio1_2_large: calc(calc(100vw - calc(100vw / 1.2)) / 10);
    --ratio1_3_large: calc(calc(100vw - calc(100vw / 1.3)) / 10);
    --ratio1_4_large: calc(calc(100vw - calc(100vw / 1.4)) / 10);
    --ratio1_5_large: calc(calc(100vw - calc(100vw / 1.5)) / 10);
    --ratio1_6_large: calc(calc(100vw - calc(100vw / 1.6)) / 10);
    --ratio1_7_large: calc(calc(100vw - calc(100vw / 1.7)) / 10);
    --ratio1_8_large: calc(calc(100vw - calc(100vw / 1.8)) / 10);
    --ratio1_9_large: calc(calc(100vw - calc(100vw / 1.9)) / 10);
    --ratio2_0_large: calc(calc(100vw - calc(100vw / 2)) / 10);
    --ratio2_1_large: calc(calc(100vw - calc(100vw / 2.1)) / 10);
    --ratio2_2_large: calc(calc(100vw - calc(100vw / 2.2)) / 10);
    --ratio2_3_large: calc(calc(100vw - calc(100vw / 2.3)) / 10);
    --ratio2_4_large: calc(calc(100vw - calc(100vw / 2.4)) / 10);
    --ratio2_5_large: calc(calc(100vw - calc(100vw / 2.5)) / 10);
    --ratio2_6_large: calc(calc(100vw - calc(100vw / 2.6)) / 10);
}