@media only screen and (min-width: 601px) and (max-width: 725px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_1_medium);
    }

}

@media only screen and (min-width: 726px) and (max-width: 850px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_2_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_2_medium) * 2));
    }
}

@media only screen and (min-width: 851px) and (max-width: 975px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_3_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_3_medium) * 2));
    }
}

@media only screen and (min-width: 976px) and (max-width: 1100px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_4_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_4_medium) * 2));
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1225px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_5_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_5_medium) * 2));
    }
}

@media only screen and (min-width: 1226px) and (max-width: 1350px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_6_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_6_medium) * 2));
    }
}

@media only screen and (min-width: 1351px) and (max-width: 1475px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_7_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_7_medium) * 2));
    }
}

@media only screen and (min-width: 1476px) and (max-width: 1600px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_8_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_8_medium) * 2));
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1725px){

    .single-box-center-medium {

        padding: 0 var(--ratio1_9_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio1_9_medium) * 2));
    }
}

@media only screen and (min-width: 1726px) and (max-width: 1850px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_0_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_0_medium) * 2));
    }
}

@media only screen and (min-width: 1851px) and (max-width: 1975px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_1_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_1_medium) * 2));
    }
}

@media only screen and (min-width: 1976px) and (max-width: 2100px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_2_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_2_medium) * 2));
    }
}

@media only screen and (min-width: 2101px) and (max-width: 2225px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_3_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_3_medium) * 2));
    }
}

@media only screen and (min-width: 2226px) and (max-width: 2350px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_4_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_4_medium) * 2));
    }
}

@media only screen and (min-width: 2351px) and (max-width: 2475px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_5_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_5_medium) * 2));
    }
}

@media only screen and (min-width: 2476px) and (max-width: 2600px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_6_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_6_medium) * 2));
    }
}

@media only screen and (min-width: 2600px){

    .single-box-center-medium {

        padding: 0 var(--ratio2_5_medium);
    }

    .single-box-center-medium > :nth-child(1n+0){

        width: calc(100vw - calc(var(--ratio2_5_medium) * 2));
    }
}

@media only screen and (max-width:600px){

    .single-box-center-medium {
        padding: 0 5vw;
    }

    #statusCurrently {
        margin-top: 5vh;
    }

}